<section id="intro" class="clearfix">
    <div class="login-form">
        <h2 class="text-center">Register</h2>
        <form #registrationform="ngForm" (ngSubmit)="registrationform.form.valid && onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" name="username" #username1="ngModel" [(ngModel)]="username"
                    placeholder="Username" required [ngClass]="{'is-invalid': username1.invalid && username1.touched}">
                <div *ngIf="username1.invalid && (username1.touched || username1.dirty)" class="text-danger">
                    <div *ngIf="username1.errors.required">
                        Username is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="mobileno" placeholder="Mobile No." [(ngModel)]="mobileno"
                    #mobileno1="ngModel" pattern="^[6-9]\d{9}$" maxLength="10" minlength="10" required
                    [ngClass]="{'is-invalid': mobileno1.invalid && mobileno1.touched}">
                <div *ngIf="mobileno1.invalid && (mobileno1.touched || mobileno1.dirty)" class="text-danger">
                    <div *ngIf="mobileno1.errors?.required">
                        Mobile No. is Required
                    </div>
                    <div *ngIf="mobileno1?.errors.maxLength">
                        Mobile No. Should be 10 digits.
                    </div>
                    <div *ngIf="mobileno1.errors?.pattern">
                        Mobile No. Should be Start with 6-9 digits.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" [(ngModel)]="email" #email1="ngModel"
                    placeholder="Email" required email [ngClass]="{'is-invalid': email1.invalid && email1.touched}">
                <div *ngIf="email1.invalid && (email1.touched || email1.dirty)" class="text-danger">
                    <div *ngIf="email1.errors.required">
                        Email is required
                    </div>
                    <div *ngIf="email1.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" #password1="ngModel"
                    placeholder="Password" maxlength="8" minlength="8" required pattern="^[a-zA-Z0-9@$%?]{8,}$"
                    [ngClass]="{'is-invalid': password1.invalid && password1.touched}">
                <div *ngIf="password1.invalid && (password1.touched || password1.dirty)" class="text-danger">
                    <div *ngIf="password1.errors.required">Password is required</div>
                    <div *ngIf="password1.errors.maxlength">Password must be at least 8 characters</div>
                    <div *ngIf="password1.errors.pattern">
                        Password Should have Atleast 1 uppercase 1 lowercase 1 number 1 character 1 Special character.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="confirmpassword"
                    #confpassword="ngModel" placeholder="Confirm Password" pattern="{{password1.value}}" required
                    [ngClass]="{'is-invalid': password1.invalid && password1.touched}">
                <div *ngIf="confpassword.invalid && (confpassword.touched || confpassword.dirty)" class="text-danger">
                    <div *ngIf="confpassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="confpassword.errors.pattern">Password must match</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"
                    [disabled]="registrationform.form.invalid || registrationform.form.pristine">Register</button>
            </div>
        </form>
    </div>
</section>